<!-- ******************************************************** -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
        <div class="header">
            <h2>
                <img alt="card_header_icon" class="card-header-icon" src="assets/imgs/header/event.svg">{{lang('BookingInformation')}}
            </h2>
            <div class="filter-sec row m-t-15" >
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 form-group">
                            <input type="text" readonly class="form-control" placeholder="Start date" [minDate]="" [maxDate]="" bsDatepicker [(ngModel)]="startDate">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 form-group">
                            <input type="text" readonly class="form-control" placeholder="End date" [minDate]="startDate" [maxDate]="" bsDatepicker [(ngModel)]="endDate">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                            <button type="button" class="btn btn-primary btn-sm btn-circle waves-effect text-center waves-circle waves-float pagination-btn"
                                (click)="getBookingInfo()">
                                <i class="fa fa-search"></i>
                                <span class="margin-left-5">{{lang('Search')}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body table-responsive">
            <table class="table table-hover table-striped" *ngIf="paginatedBookingInfo.items.length > 0">
                <thead>
                    <tr>
                        <th>{{lang('SlNo')}}</th>
                        <th>{{lang('PassName')}}</th>
                        <th>#{{lang('UniqueRef')}}</th>
                        <th>{{lang('TransactionNo')}}</th>
                        <th>{{lang('BookingDate')}}</th>
                        <th>{{lang('Adult')}}</th>
                        <th>{{lang('Child')}}</th>
                        <th>{{lang('TotalAmount')}}</th>
                        <th>{{lang('PaymentStatus')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paginatedBookingInfo.items; let index=index">
                        <td>{{((searchParams.PageIndex - 1) * searchParams.PageSize) + (index + 1)}}</td>
                        <td *ngIf="item.passInformation != null && item.passInformation.passDescription.length > 0">{{item.passInformation.passDescription[0].passName}}</td>
                        <td class="ref-number">{{item.uniqueReferrenceNumber}}</td>
                        <td class="ref-number">{{item.transactionNumber}}</td>
                        <td>{{item.bookingDate}}</td>
                        <td>{{item.adult}}</td>
                        <td>{{item.child}}</td>
                        <td>
                            <!-- <img *ngIf="item.passInformation != null && item.passInformation.currencyInfo != null " src="assets/imgs/language/{{item.passInformation.currencyInfo.icon}}"
                                        class="lang-img" /> -->
                            {{item.totalAmout}}
                        </td>
                        <td>
                            <span [ngClass]="item.paymentStatus?'success-status':'failed-status'">{{item.paymentResponse}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ******************************************************** -->
            <div class="text-center" *ngIf="paginatedBookingInfo.items.length == 0 && !isAvaileble">
                <p class="">
                    <img alt="card_header_icon" class="not-found-icon cursor-pointer" src="assets/imgs/not-found.svg">
                </p>
                <p class="not-available" style="font-size:1.5rem">{{lang('NoResultFound')}}!</p>
            </div>
            <div class="text-right" *ngIf="paginatedBookingInfo.items.length > 0 && isAvaileble">
                <button type="button" [disabled]="!paginatedBookingInfo.HasPreviousPage" *ngIf="paginatedBookingInfo.HasPreviousPage" class="btn btn-primary btn-sm btn-circle waves-effect text-center waves-circle waves-float pagination-btn"
                    (click)="prev()">
                    <i class="fa fa-chevron-left"></i>
                    <span class="margin-left-5">{{lang('Prev')}}</span>
                </button>
                <button type="button" [disabled]="!paginatedBookingInfo.HasNextPage" *ngIf="paginatedBookingInfo.HasNextPage" class="btn btn-primary btn-sm btn-circle waves-effect text-center waves-circle waves-float pagination-btn"
                    (click)="next()">
                    <span class="margin-right-5">{{lang('Next')}}</span>
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>